{% extends "projects/basic.html" %}

{% block body %}

            <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Coming Soon
                        </h1>
                        <h2 class="subtitle">
                            Fing is the best Network platform for running an internet business.
                            Web Developers can sell WordPress themes, WordPress plugins and web templates as long as Web Development is on the run.
                            Subscribe now to get the latest news,updates and wooh! our free gifts all exclusive for you...
                        </h2>
                        <div class="box">
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="Enter your email" id="subscribe">
                                </p>
                                <p class="control">
                                    <a class="button is-info">
                                        Notify Me
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
   {% endblock %}
